@charset "UTF-8";
@import "compass";
@import "utilities";

/* 
# 背景の共通設定を関数化
*/
@mixin bgImg($pcImgPath) {
	background-image: url($pcImgPath);
	background-repeat: no-repeat;
    background-position: center center;
    @include background-size(cover);
	@content;
}

@mixin bgConf() {
    position: relative;
    top: 0;
    z-index: 0;
    &:before {
        content: "";
        background-color: rgba($black,.5);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;        
    }
}

/* 
# mainv
*/
#mainv {
    @include bgImg("../img/index/mainv.jpg"); //背景画像パス
    @include bgConf();  //背景の共通設定(@mixin)
    height: 100vh;
    @media screen and (max-width: 767px) {
        @include bgImg("../img/index/sp/mainv.jpg"); //背景画像パス（スマホ）
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.5);
    }
    //中央の文字
    #typing {
		display: inline-block;
		line-height: 1.8;
		font-weight: 800;
		margin: 0 auto;
		text-align: center;
		letter-spacing: 0.8em;
		font-size: 7rem;
		word-wrap: break-word;
		font-family: $NovaMono;
		color: $white;
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%,-50%);
		@include text-shadow(2px 2px 3px $black);
		@media screen and (max-width: 767px) {
            top: calc(50% - 30px);
			font-size: 4.5rem;
			line-height: 1.2;
            letter-spacing: 0.2em;
		}	
    }	
    
    //アニメーションの設定
    @keyframes arrow {
        0% {
            @include transform(translate3d(-50%, 0, 0));
        }
        60% {
            @include transform(translate3d(-50%, 100px, 0));
        }
        100% {
            @include transform(translate3d(-50%, 100px, 0));
        }
    }
    //スマホ時
    @keyframes spArrow {
        0% {
            @include transform(translate3d(-50%, 0, 0) rotate(-45deg));
        }
        60% {
            @include transform(translate3d(-50%, 30px, 0) rotate(-45deg));
        }
        100% {
            @include transform(translate3d(-50%, 30px, 0) rotate(-45deg));
        }
    }

	//スクロール
	.arrowWrap {
        color: $white;
        position: absolute;
        left: 35px;
        bottom: 0;        
        @media screen and (max-width: 767px) {
            width: 20px;
            height: 20px;
            border: 2px solid;
            border-color:  transparent transparent $white $white;
            position: absolute;
            bottom: calc(50% - 100px);
            left: calc(50% - 4px);
            @include animation(spArrow 2.5s ease 0s infinite normal);
        }
    }

    .arrowInner{
        .text {
            font-size: 12px;
            text-align: end;
            @include transform(rotate(90deg));
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }
    
	.arrow {
		width: 1px;
		height: 100px;
		margin: 50px auto 0;
		background-color: $white;
        position: relative;
        top: 0;
        overflow: hidden;
        @media screen and (max-width: 767px) {
            display: none;
        }
        &:before {
            content: '';
            width: 1px;
            height: 100px;
            margin: 50px auto 0;
            background-color: $black;
            overflow: hidden;
            position: absolute;
            top: -150px;
            left: 0;
            @include animation(arrow 2.5s ease 0s infinite normal);
        }
    }        
}

/* 
# intro
*/
#intro {
    @include bgImg("../img/index/bg_about.jpg"); //背景画像パス
    @include bgConf();  //背景の共通設定(@mixin)
    @media screen and (max-width: 767px) {
        @include bgImg("../img/index/sp/bg_about.jpg"); //背景画像パス（スマホ）
    }
    .read {
        margin-bottom: 50px;
        &:last-of-type {
            margin-bottom: 30px;
            .txt,.ttl {
                margin-bottom: 0;
            }
        }
        @media screen and (max-width: 767px) {
            font-size: 1.4rem;
            margin-bottom: 30px;
            &:last-of-type {
               margin-bottom: 20px;
            }
        }
    }
    .txt,.ttl {
        margin-bottom: 15px;
        @media screen and (max-width: 767px) {
            margin-bottom: 10px;
        }
    }
   .brackets {
        margin-bottom: 10px;
    }
    .cart {
        background-color: $white;
        position: relative;
        width: 100%;
        max-width: 500px;
        padding: 15px;
        @include box-sizing(border-box);
        &:before {
            content: "";
            display: block;
            padding-top: 50%;
        }
        @media screen and (max-width: 767px) {
            padding: 15px;
        }
        .radar {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%,-50%));
        }
    }
}

/* 
# opus
*/
#opus {
    @include bgImg("../img/index/bg_opus.jpg"); //背景画像パス
    @include bgConf();  //背景の共通設定(@mixin)
    @media screen and (max-width: 767px) {
        @include bgImg("../img/index/sp/bg_opus.jpg"); //背景画像パス（スマホ）
    }
    .opusSec {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        @include transition(.35s);       
    }
    .txtCont {
        margin: 0 auto 30px;
        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    .comTtl,.opusCont {
        display: table-cell;
        @media screen and (max-width: 767px) {
            display: block;
        }
    }
    .comTtl {
        margin: 10px 0;
    }
    .opusCont {
        padding-left: 20px;
        color: $white;
        @media screen and (max-width: 767px) {
            padding-left: 0;
        }
        .txtBox {
            margin-bottom: 20px;
            @media screen and (max-width: 767px) {
                margin-bottom: 10px;
            }
        }
        .ttl {
            display: block;
        }
        .read {
            .brackets {
                display: inline-block;
                font-size: 1.7rem;
                margin-bottom: 5px;
                font-family: $Ubuntu;
                font-weight: 700;
            }
        }
    }
    .opusList li {
        margin-bottom: 30px;
        @media screen and (max-width: 767px) {
            margin-bottom: 10px;
            padding: 0 10px;
        }
        a,.noImg {
            text-decoration: none;
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            top: 0;
            color: $white;
            text-align: center;
            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 240px;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 1;
                background-color: rgba($black,.3);
                @include transition(.35s);
                @media screen and (max-width: 991px) {
                    height: 200px;
                }
                @media screen and (max-width: 767px) {
                    height: 100px;
                }   
            }
        }
        a:hover:before {
            background-color: transparent;
        }
        .image {
            position: relative;
            top: 0;
            overflow: hidden;
            display: block;
            width: 100%;
            height: 240px;
            margin-bottom: 10px;
            border: 3px solid $white;
            background-color: $base;
            @media screen and (max-width: 991px) {
                height: 200px;
            }
            @media screen and (max-width: 767px) {
                height: 100px;
            }
            .megumi {
                display: block;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;
                @include translateY(-50%);
                z-index: 1;
            }
            img {
                width: 100%;
                height: 240px;
                @media screen and (max-width: 991px) {
                    height: 200px;
                }
                @media screen and (max-width: 767px) {
                    height: 100px;
                }	
            }             
        }
    }      
}

/* 
# news
*/
#news {
    height: 100vh;
    @include bgImg("../img/index/bg_blog.jpg"); //背景画像パス
    @include bgConf();  //背景の共通設定(@mixin)
    @media screen and (max-width: 767px) {
        @include bgImg("../img/index/sp/bg_blog.jpg"); //背景画像パス（スマホ）
    }    
    .ttl {
        &:before {
            content: "\e049";
            font-family: 'icomoon';
            font-size: 2rem;
            color: $white;
            margin-right: 10px;
        }            
        @media screen and (max-width: 767px) {
            font-size: 1.8rem;
            &:before {
                margin-right: 5px;
            }
        }
    }
    //NEWSの記事ページリンク
    .postLinks {
        padding-top: 20px;
        height: 60px;
        @include box-sizing(border-box);
        @media screen and (max-width: 767px) {
            padding-top: 0;
        }
        p>a {
            color: $white;
        }
        .postLink {
            color: $white;
            display: inline-block;
            vertical-align: middle;
            @include pie-clearfix;
            i:after {
                font-size: 2rem;
                @media screen and (max-width: 767px) {
                    font-size: 1.6rem;
                }
            }
        }
        .postLink-prev {
            float: right;
            i:after {
                content: ">>";
                padding-left: 5px;
            }
        }
        .postLink-next {
            float: left;
            i:after {
                content: "<<";
                padding-right: 5px;
            }			
        }
    }
    .backTop {
        text-align: center;
        width: 100%;
        margin: 30px 0 0;
    }    
}